Repository getsentry/sentry-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @szokeasaurusrex, @getsentry/owners-sentry-cli, @getsentry/emerge-tools

feat(preprod): make sure at least one app bundle is present for upload
  src/utils/build/validation.rs
Owners: @getsentry/emerge-tools

chore(launchpad): Remove org argument from build upload command
  src/commands/build/upload.rs
  tests/integration/_cases/build/build-upload-help-macos.trycmd
  tests/integration/_cases/build/build-upload-help-not-macos.trycmd
Owners: @getsentry/emerge-tools, @szokeasaurusrex, @getsentry/owners-sentry-cli

remove unnecessary items
  docs/api_endpoints.yaml
Owners: @szokeasaurusrex, @getsentry/owners-sentry-cli

remove `GET_metadata`
  docs/api_endpoints.yaml
Owners: @szokeasaurusrex, @getsentry/owners-sentry-cli

Add findings on unlisted Sentry API endpoints
  findings.md
Owners: @szokeasaurusrex, @getsentry/owners-sentry-cli

add filtered lists
  docs/api_endpoints_absolute_false.yaml
  docs/api_endpoints_absolute_false_list.yaml
Owners: @szokeasaurusrex, @getsentry/owners-sentry-cli

.github/CODEOWNERS:

* @szokeasaurusrex @getsentry/owners-sentry-cli

/src/commands/build @getsentry/emerge-tools
/src/utils/build @getsentry/emerge-tools
/tests/integration/build @getsentry/emerge-tools
